.grg { position: absolute; background: radial-gradient(#08e, #fff) }
.grg ul {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0
 }
 .grg ul li {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 148vh;
  border-radius: 50%;
  list-style-type: none;
  background-color: rgba(255, 255, 255, .2);
  animation: squ cubic-bezier(0, .6, 1, .4) infinite alternate
}
.grg ul li:nth-child(1) { left: 12%; width: 24%; height: 36%; animation-duration: 36s }
.grg ul li:nth-child(2) { left: 32%; width: 16%; height: 24%; animation-duration: 24s }
.grg ul li:nth-child(3) { left: 48%; width: 12%; height: 12%; animation-duration: 12s }
.grg ul li:nth-child(4) { left: 56%; width: 32%; height: 48%; animation-duration: 48s }
@keyframes squ { 100% { top: -60vh } }
