html, body { margin: 0; padding: 0; overflow: hidden; font-size: medium }
body { display: flex }

.nav, .main { padding: 0 .5rem; display: flex; flex-direction: column; height:100vh }
.nav { flex: 0 0 12rem; align-items: center }
.main { flex: 1 }

@font-face { font-family: "ifont"; src: url("ifont.ttf") }

.df { display: flex }
.dh { display: none }
