html, body { margin: 0; padding: 0; overflow: hidden; font-size: medium; color: #333 }
body, input, textarea, select { font-family: Tahoma, 'Microsoft YaHei', sans-serif }
a, a:visited { color: #333 }
a:hover, a:active { color: #08e }
table { width: 100%; border-collapse: collapse; border-spacing: .5rem }
ol, ul, li { margin: .5rem 0; text-align: left }
form { line-height: 2; text-align: left }
summary, input, select, textarea { text-align: left; border-radius: 5px; box-sizing: border-box }
input, select, textarea { background: snow; border: 1px solid silver }
input:hover, select:hover, textarea:hover { color: #08e; background: azure; border-color: #08e }
input, textarea { padding: 7px 1rem }
input, select { margin: 0 1rem 0 .5rem }
textarea { margin: 10px; width: 24rem; height: 4rem }
select { padding: 6px 1rem }
input[disabled] { pointer-events: none; background: gainsboro }
[type=file] { padding-top: 2px; padding-bottom: 3px }

.in { position: relative; display: inline-block }
.in b { position: absolute; padding: .5rem 1rem }
.in input { padding-left: 2rem }

body, header, .nav, .main, .logo, header>div { display: flex }
.user, .logo { height: 50px }
.nav, .main { flex-direction: column; height:100vh }
.main, .title { flex: 1 }
.nav { flex-direction: column; flex: 0 0 auto }

.logo, .title, .note, .user { overflow: hidden; border-top: 2px solid transparent; transition: .3s }
.logo:hover { border-top: 2px solid #08e }
.title:hover, .note:hover, .user:hover { border-top: 2px solid #333 }
.note, .user { flex: 0 0 16rem }

nav { border-top: 1px dotted silver; border-bottom: 1px dotted silver; background: gainsboro }
aside, main { flex: 1; padding: 1rem; overflow-y: scroll }
aside { padding: 0 }
aside::-webkit-scrollbar { width: 5px }
aside::-webkit-scrollbar-thumb { background: #444 }

.bt { border-top: 1px dotted #444 }
.bb { border-bottom: 1px dotted #444 }
.bl { border-left: 1px dotted gray }
.br { border-right: 1px dotted gray }

.p01 { padding: 0 1rem }
.p51 { padding: .5rem 1rem }
.m10 { margin: 1rem 0 }

.g { color: silver }
.s { color: seagreen }
.r { color: crimson }

.b { background: #333 }
.l { background: #08e }
.lg { background: lightgreen }
.lr { background: lightcoral }
.lb { background: #def }

.df { display: flex }
.dh { display: none }

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tj { justify-content: center }
.ts { justify-content: space-between }
.vc { align-items: center }
.vm { vertical-align: middle }

.fxs { font-weight: 100; font-size: x-small }
.fs { font-weight: 100; font-size: small }
.fl { font-weight: 500; font-size: large }
.fxl { font-weight: 500; font-size: x-large }
.fxxl { font-weight: 500; font-size: xx-large }
@font-face { font-family: "ifont"; src: url("ifont.ttf") }
#wIcon, .if { font-family: "ifont" !important }
#wIcon { cursor: pointer }
#wIcon:hover { color: #08e }

/* M */
#_M_b { border-bottom: 1px dotted gray; padding: 1rem 1rem 5px 1rem }
#_M_r a { margin: 0 .5rem }
::-webkit-details-marker { direction: ltr; margin-left: 1rem }
details, summary, details li { margin: 0; cursor: pointer; transition: .3s }
summary { direction: rtl; padding: 5px 5px 5px 1rem; outline: none }
summary>b { padding-right: 1rem }
details { margin: 5px 0; border-left: 5px solid transparent }
details li { list-style: none; padding: 5px; border-radius: 0 5px 5px 0 }
details:hover, ._M_dl { border-left: 5px solid #08e; background: #444 }
details li:hover, ._M_d { background: #08e }
details[open] { background: #444 }
._M_b { background: snow; border: 1px dotted gray; border-radius: 5px 1rem 0 0; padding: 5px 1rem; margin: 0 5px; cursor: pointer }
._M_f, ._M_b:hover { color: #08e; background: azure; border-color: #08e }
._M_dh details summary::-webkit-details-marker, ._M_dh time, ._M_dh span, ._M_dh a { display: none }

/* V */
#_V_Bt { z-index: 1001 }
#_V_Bc { z-index: 2001 }
#_V_Bi { z-index: 3001 }
#_V_Ft { z-index: 1002; background: ivory; animation: pop .3s }
#_V_Fc { z-index: 2002; background: cornsilk; padding: 1rem; animation: pop .3s }
#_V_Fi { z-index: 3002; padding: 1rem; animation: shake .2s }
#_V_Ht { border-radius: 5px 5px 0 0; background: rgba(99, 99, 99, 0.1); cursor: move }
._V_e { display: block; padding: 0 0 0 1rem; cursor: pointer }
._V_e:hover { color: crimson }
._V_p { position: absolute }
._V_b { height: 100vh; width: 100vw; top: 0; left: 0; margin: 0; opacity: 0.3; background: gray }
._V_f { border: 1px solid silver; border-radius: 5px; box-shadow: 1px 1px 1rem gray }
._V_t { padding: 5px 1rem }
._V_c { padding-bottom: 1rem }
._V_s { border-bottom: 1px dotted gainsboro; color: crimson }
._V_u { padding: 5px .5rem 5px 1rem }
@keyframes pop {
	0% { opacity: 0; transform: scale(.5); top: 0 }
	100% { opacity: 1; transform: scale(1) }
}
@keyframes shake {
	0%, 100% { transform: translateX(0) }
	20%, 60% { transform: translateX(-10px) }
	40%, 80% { transform: translateX(10px) }
}
