.Mp { width: 100%; height: 400px }

.Mp input { display: none }
.Mp label { position: relative; z-index: 104; flex: auto; cursor: pointer }
.Mp label::before {
  content:'';
  position: absolute;
  left: 50%;
  bottom: .5rem;
  width: 1rem;
  height: 1rem;
  background: rgba(136, 187, 238, .6);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .3)
}

.Mp label:not(:last-of-type)::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, .3)
}
.Mp input:checked+label::before { background: #fff; box-shadow: 0 0 0 3px rgba(102, 170, 238, .6) }

.Mpg { z-index: 101 }
.Mpg div { position: relative; overflow: hidden; width: 25% }
.Mpg div span { position: absolute; top: 0; left: -25%; width: 100%; height: 100% }
.Mpg div span:nth-child(1) { background: url('../img/1.jpg') 0% 0%/400% 100% }
.Mpg div span:nth-child(2) { background: url('../img/2.jpg') 0% 0%/400% 100% }
.Mpg div span:nth-child(3) { background: url('../img/3.jpg') 0% 0%/400% 100% }
.Mpg div span:nth-child(4) { background: url('../img/4.jpg') 0% 0%/400% 100% }
.Mpg div:nth-child(1) span { background-position: 0 0 }
.Mpg div:nth-child(2) span { background-position: -100% 0 }
.Mpg div:nth-child(3) span { background-position: -200% 0 }
.Mpg div:nth-child(4) span { background-position: -300% 0 }
.Mp input[n='1']:checked~.Mpg div span:nth-child(1),
.Mp input[n='2']:checked~.Mpg div span:nth-child(2),
.Mp input[n='3']:checked~.Mpg div span:nth-child(3),
.Mp input[n='4']:checked~.Mpg div span:nth-child(4) { z-index: 102; left: 0; transition: left .5s ease-in-out; animation: none }

.Mp input:checked~.Mpg div span { animation: out .6s ease-in-out }
@keyframes out {
  0% { left: 0 }
  100% { left: 25% }
}

.Mpt { z-index: 103 }
.Mpt h3 {
  position: absolute;
  flex: auto;
  top: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  opacity: 0;
  transition: opacity .8s ease-in-out
}
.Mpt h3 div:nth-child(1) { font-size: 2rem; letter-spacing: .5rem }
.Mpt h3 div:nth-child(2) { padding: .5rem; background: rgba(102, 170, 238, .6); font-size: small; font-style: italic }
.Mp input[n='1']:checked~.Mpt h3:nth-child(1),
.Mp input[n='2']:checked~.Mpt h3:nth-child(2),
.Mp input[n='3']:checked~.Mpt h3:nth-child(3),
.Mp input[n='4']:checked~.Mpt h3:nth-child(4) { opacity: 1 }
