body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: medium;
  line-height: 1;
  word-break: break-all;
  text-overflow: ellipsis
}
body, input, textarea, select {
  font-family: Tahoma, 'Microsoft YaHei', sans-serif;
  background: white;
  color: rgba(0, 0, 0, .8);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
input, select, textarea {
  border: 1px solid rgba(99, 99, 99, .3);
  border-radius: 3px;
  text-align: left;
}
input:hover, select:hover, textarea:hover { border-color: #08e; background: azure; color: #08e }
input, textarea { padding: 7px 1rem }
select { padding: 6px 1rem }
input, select { margin: 0 .5rem }
textarea { width: calc(100% - 3rem) ; height: 6rem; margin: .5rem }
[disabled] { background: whitesmoke; color: rgba(99, 99, 99, .6); pointer-events: none }
[type="color"] { padding-top: 3px; padding-bottom: 4px; box-sizing: content-box }
[type*='date'] { padding-top: 5px; padding-bottom: 5px }
[type='file'] { padding-top: 1px; padding-bottom: 1px }
::-webkit-file-upload-button { width: 5rem; height: 28px; border: 1px solid rgba(99, 99, 99, .3); border-radius: 3px; background: white }

a, a:visited { color: rgba(0, 0, 0, .8) }
a:hover, a:active { color: #08e }
ol, ul, li { margin: .5rem 0; text-align: left }
table { width: 100%; border-collapse: collapse; border-spacing: .5rem }

::-webkit-details-marker { margin-left: 1rem; direction: ltr }
summary { padding: .5rem .5rem .5rem 1rem; outline: none; direction: rtl }
summary, .cp { cursor: pointer }
.cp:hover { color: rgba(0, 0, 0, .6) }

.in { position: relative; display: inline-block }
.in b { position: absolute; padding-top: 7px; padding-left: 1rem; font-size: large; color: rgba(99, 99, 99, .6) }
.in input { padding-left: 2rem }
.lf, .lfn, .tp { position: relative }
.lf::before, .lfn::before { content: ""; position: absolute; top: 50%; left: 0; width: 5px; height: 0; background: #08e; transition: .3s }
.lf:hover::before, .lfn::before { top: 0 !important; height: 100% !important }
.tp::after { content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background: rgba(0, 0, 0, .6); transition: .3s }
.tp:hover::after { left: 0 !important; width: 100% !important }
.mu::before { content: ""; padding-right: .5rem; border-left: 1px dotted rgba(99, 99, 99, .3) }

.pf { position: fixed }
.pa { position: absolute }
.pr { position: relative }

.df { display: flex }
.db { display: block }
.di { display: inline-block }
.dh { display: none }
.d0 { flex: none }
.d1 { flex: auto }
.dc { flex-direction: column }
.dw { flex-wrap: wrap }

.z1 { z-index: 11 }
.z2 { z-index: 12 }
.z3 { z-index: 13 }

.wt { width: 100% }
.wh { width: 100%; height: 100%; object-fit: fill }

.p5 { padding: .5rem }
.p05 { padding: 0 .5rem }
.p01 { padding: 0 1rem }
.p51 { padding: .5rem 1rem }
.p5t { padding-top: .5rem }

.ma { margin: auto }
.m5 { margin: .5rem }
.m05 { margin: 0 .5rem }
.m10 { margin: 1rem 0 }
.m50 { margin: .5rem 0 }

.bt { border-top: 1px dotted rgba(99, 99, 99, .3) }
.bb { border-bottom: 1px dotted rgba(99, 99, 99, .3) }
.bl { border-left: 1px dotted rgba(99, 99, 99, .3) }
.br { border-right: 1px dotted rgba(99, 99, 99, .3) }
.bd { border: 1px solid rgba(99, 99, 99, .3); border-radius: 3px }

.fxs { font-weight: 100; font-size: x-small }
.fs { font-weight: 100; font-size: small }
.fl { font-weight: 500; font-size: large }
.fxl { font-weight: 500; font-size: x-large }
.fxxl { font-weight: 500; font-size: xx-large }
@font-face { font-family: "ifont"; src: url("ifont.ttf") }
.if { font-family: "ifont" !important }

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tj { justify-content: center }
.ts { justify-content: space-between }
.vt { vertical-align: top }
.vc { align-items: center }
.vm { vertical-align: middle }

.g0 { background: rgba(0, 0, 0, .8) }
.gb { background: #08e }
.gw { background: ivory }
.gy { background: cornsilk }
.gr { background: lightcoral }
.ga { background: azure }

.ce { color: rgba(255, 255, 255, .5) }
.cw { color: rgba(255, 255, 255, .8) }
.cg { color: rgba(99, 99, 99, .6) }
.ch { color: rgba(99, 99, 99, .3) }
.cs { color: seagreen }
.cr { color: crimson }

/* M */
.Md li, .Mmr li, .Mr li, .Ml li { display: inline-block; margin: 0; list-style: none; cursor: pointer; transition: .3s }
.Md summary>b { padding-right: 1rem }
.Md details:hover, .Mdu { background: rgba(99, 99, 99, .3) }
.Md li { display: block; padding: .5rem; border-radius: 0 3px 3px 0 }
.Md li:hover, .Md input:checked+li { background: #08e }
.Mdh summary::-webkit-details-marker, .Mdh li, .Mdh span, .Mdh a { display: none }
.Mm { border-radius: 3px; box-shadow: 0 0 1px rgba(99, 99, 99, .3); background: white }
.Mmr li { padding-top: 4px }
.Mr li { margin: -1px 0 }
.Mmr li:hover, .Mmr input:checked+li, .Mr li:hover, .Mr input:checked+li { color: #08e }
.Ml li { padding: 5px 1rem; margin: 0 5px; border: 1px dotted rgba(99, 99, 99, .3); border-bottom: none; border-radius: 3px 1rem 0 0 }
.Ml li:hover, .Ml input:checked+li { border-color: #08e; background: azure; color: #08e }

/* V */
#VHt { border-radius: 3px 3px 0 0; background: rgba(99, 99, 99, .1); cursor: move }
#VBt, #VBp { z-index: 1001 }
#VBc { z-index: 2001 }
#VBl { z-index: 3001 }
#VFt, #VFp { z-index: 1002; animation: pop .3s }
#VFc { z-index: 2002; animation: pop .3s }
#VFi { z-index: 3002; animation: sha .3s }
#VFl { z-index: 3002 }
#VFi .ir { border-right-color: lightcoral }
#VFi .iy { border-right-color: cornsilk }
#VFi i {
  position:absolute;
  display:block;
  left: -1rem;
  top: 1rem;
  border: .5rem dashed transparent
}
.Ve { display: block; padding: 0 0 0 1rem; cursor: pointer }
.Ve:hover, .Vs { color: crimson }
.Vb { left: 0; top: 0; width: 100vw; height: 100vh; margin: 0; background: rgba(99, 99, 99, .3) }
.Vf { box-shadow: 1px 1px 1rem rgba(99, 99, 99, .3) }
.Vr { animation: rot .8s infinite }

@keyframes pop {
  0% { opacity: 0; transform: scale(.5); top: 0 }
  100% { opacity: 1; transform: scale(1) }
}
@keyframes sha {
  0%, 100% { transform: translateX(0) }
  20%, 60% { transform: translateX(-10px) }
  40%, 80% { transform: translateX(10px) }
}
@keyframes rot{
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
@media screen and (max-width: 798px) {
  body { font-size: small }
  .title, .note { display: none }
  .user { flex: auto }
}
