body { background: #000; color: #333 }
nav { background: gainsboro }
section { background: #fff }
header, summary:hover, ._M_l, details li:hover { background: #08e }
details[open] { background: #5e6368 }
aside, #wLogo { background: #34393c; color: #fff }
#wTime { background: #fff }
.note, .copy { border-left: 1px solid #000 }
::-webkit-details-marker { color: silver }

a, a:visited { color: #333 }
a:hover, a:active { color: #08e }
input, select, textarea { background: snow; border: 1px solid silver }
input:hover, select:hover, textarea:hover, ._M_f, ._M_b:hover { color: #08e; background: azure; border-color: #08e }
input[disabled] { pointer-events: none; background: gainsboro }

#wNote { position: relative; animation: note 12s cubic-bezier(0, .6, 1, .4) infinite alternate }
