html { overflow: hidden; padding: 5px; font-size: medium }
body, header, nav, footer, aside, section, article, main { overflow: hidden; display: flex; margin: 0; padding: 0 }
body, aside, section, main { flex-direction: column }
nav, article { flex: none; margin: 1px 0; padding: 2px 0 }
article, header > div, nav > div { display: flex; justify-content: center }
aside, header > div, nav > div { overflow: hidden; align-items: center; white-space: nowrap }
header, nav { justify-content: space-between }
main { padding: 0 1rem; overflow-y: scroll }
footer, section, main, #wTitle, #wNav { flex: 1 }
#wTime { border-radius: 10px; padding: 2px 1rem }
#wNav { justify-content: flex-start }
.tag { padding: 0 .5rem }
body {
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	border-radius: 10px;
	word-break: break-all;
	white-space: normal;
	text-overflow: ellipsis;
	background: #000;
	color: #333
}

header { background: #28d }
aside, #wLogo { background: #444; color: gainsboro }
aside, #wLogo, #wTime, .copy { flex: 0 0 12rem }
nav { background: gainsboro }
section, #wTime { background: #fff }
#wUser { flex: 0 0 18rem }
.note, .copy { border-left: 1px solid #333 }
.note { flex: 0 1 16rem }

a, a:visited { color: #333 }
a:hover, a:active, ._M_r { color: #28d }
table { width: 100%; border-collapse: collapse; border-spacing: .5rem }
ol, ul, li { margin: .5rem 0; text-align: left }
form { line-height: 2; text-align: left }
summary, input, select, textarea { text-align: left; border-radius: 5px; outline: none }
input, select, textarea { background: snow; border: 1px solid silver }
input:hover, select:hover, textarea:hover { color: #28d; background: azure; border-color: #28d }
input, textarea { padding: 5px 1rem }
input, select { margin: 0 1rem 0 .5rem }
textarea { margin: 10px; width: 24rem; height: 4rem }
select { padding: 4px }
input[disabled] { pointer-events: none; background: gainsboro }
[type=file] { padding-top: 2px; padding-bottom: 3px }

body, input, textarea, select { font-family: Tahoma, 'Microsoft YaHei', sans-serif }
.fxs { font-weight: 100; font-size: .6rem }
.fs { font-weight: 100; font-size: .8rem }
.fl { font-weight: 500; font-size: 1.2rem }
.fxl { font-weight: 500; font-size: 1.5rem }
.fxxl { font-weight: 500; font-size: 2rem }

.g { color: seagreen }
.r { color: crimson }
.lg { background: lightgreen }
.lr { background: lightcoral }

.tc { text-align: center }
.tl { text-align: left }
.vm { vertical-align: middle }

.df { width: 100%; height: 100% }
.db { display: block }
.dh { display: none }
.dl { line-height: 1.5 }

.p5 { padding: 5px }

@keyframes note {
	0% { left: 100% }
	100% {left: -100% }
}
@media screen and (max-width: 798px) {
	html { font-size: small }
	nav { flex-wrap: wrap }
	#wTime, .note, .copy, .tag { display: none }
	#wNav { flex: 100vw; padding: 0 1rem }
}

#wNote { position: relative; animation: note 12s cubic-bezier(0, .6, 1, .4) infinite alternate }

/* M */
#_M_b { border-bottom: 1px dotted gray; padding: 1rem 1rem 4px 1rem }
#_M_r a { margin: 0 .5rem }
::-webkit-details-marker { direction: ltr; margin-left: 1rem; color: gainsboro }
details, summary, details li { margin: 0; cursor: pointer; border-radius: 5px; transition: 1s ease-out }
summary { direction: rtl; padding: 5px 2rem }
details { margin: 5px }
details li { list-style: none; padding: 5px }
summary:hover, details li:hover, ._M_d { background: #28d }
details[open] { background: dimgray }
._M_b { background: snow; border: 1px dotted gray; border-radius: 5px 1rem 0 0; padding: 5px 1rem; margin: 0 5px; cursor: pointer }
._M_f, ._M_b:hover { color: #28d; background: azure; border-color: #28d }

/* V */
#_V_Bt { z-index: 1001 }
#_V_Bc { z-index: 2001 }
#_V_Bi { z-index: 3001 }
#_V_Ft { z-index: 1002; background: ivory }
#_V_Fc { z-index: 2002; background: cornsilk; padding: 1rem }
#_V_Fi { z-index: 3002; padding: 1rem }
#_V_Ht { margin: 5px; border: 1px dotted silver; border-radius: 5px; cursor: move }
._V_p { position: absolute }
._V_b { height: 100vh; width: 100vw; top: 0; left: 0; margin: 0; opacity: 0.5; background: gray }
._V_f { border: 1px solid silver; border-radius: 5px; box-shadow: 2px 5px 1rem gray }
._V_t { padding: 5px 1rem }
._V_c { padding-bottom: 1rem }
._V_s { color: crimson; border-top: 1px dotted silver }
._V_u { padding: 5px .5rem 5px 1rem }
